:root {
  --main-color: #212121;
  --second-color: #2196f3;

  --third-color: #757575;

  --fourth-color: #ffffff;
}

body {
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.7;
  }

  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 1.2;
  }

  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    line-height: 1.4;
  }
}
